/*
===============================
Change everything to border-box model
===============================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
===============================
Etch-a-sketch container
===============================
*/

#container {
	width: 960px;
	height: 960px;
	margin: 20px auto;
	font-size: 0px;
}

button {
	font-weight: bold;
	font-size: 24px;
	font-family: Lucida console;
	border-radius: 6px;
	border: solid 1px black;
	padding: 5px 10px;
}

/*
===============================
Grid
===============================
*/


.square {
	background-color: white;
	border: 1px solid black;
	display: inline-block;
}

.color {
	background-color: black;
}